<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ring Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://kit.fontawesome.com/ec3f0c8487.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <ul class="nav">
            <li class="logo">
                <img src="/assets/img/logo.png" alt="Ring Logo" class="logo">
            </li>
        </ul>
    </nav>
    <main>
        <div class="upperContainer">
            <button>Theme toggle</button>
            <button><i class="far fa-lightbulb fa-lg"></i></button>
            <button><i class="fas fa-bell fa-lg"></i></button>
        </div>
        <div class="cameraFeed">
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
            <div class="skeletonCamera">
                <div class="head">
                    <ul>
                        <h2 class="cameraName">Loading...</h2>
                        <li class="light"><i class="far fa-lightbulb fa-md"></i></li>
                        <li class="alarm"><i class="fas fa-bell fa-md"></i></li>
                    </ul>
                </div>
            </div>
    </main>
</body>

</html>